<div class="container">
  <div class="column">
    <label for="combo1">ORIGEN:</label>
    <select id="combo1" (change)="cambio($event.target)" [(ngModel)]="this.origenSeleccionado" >
      <ng-container *ngFor="let origen of this.origenes">
        <option [value]="origen">{{origen}}</option>
      </ng-container>
    </select>
  </div>

  <div class="column">
    <label for="combo2">DESTINO:</label>
    <select id="combo2" (change)="cambioDestino($event.target)" [(ngModel)]="this.destinoSeleccionado">
      <ng-container *ngFor="let destino of this.destinos">
        <option [value]="destino">{{destino}}</option>
      </ng-container>
    </select>
  </div>

  <div class="column">
    <label for="combo3">FECHA:</label>
    <select id="combo3" [(ngModel)]="fechaSeleccionada">
      <ng-container *ngFor="let fecha of this.fechasSelect">
        <option [value]="fecha.fechaValue">{{fecha.fecha}}</option>
      </ng-container>
    </select>
  </div>

  <button class="btn" style="margin: 0 auto;" (click)="cargarDatosViajes()">Enviar</button>


  <table style="margin-top: 30px;" *ngIf="this.activaTabla">
    <tr>
      <th>Id Viaje</th>
      <th>Fecha Hora Salida</th>
      <th>Numero Autobus</th>
      <th>Origen</th>
      <th>Destino</th>
      <th>AsientosLibres</th>
      <th>Acción</th>
    </tr>
    <tr *ngFor="let dato of this.datosViaje">
      <td>{{ dato.viajeId }}</td>
      <td>{{ dato.fechaHoraSalida|date:"dd-MM-yyyy" }}</td>
      <td>{{ dato.numeroAutobus }}</td>
      <td>{{ dato.origen }}</td>
      <td>{{ dato.destino }}</td>
      <td>{{ dato.asientosLibre }}</td>
      <td><i class="pi pi-check-circle" style="font-size: 2rem; color: #4CAF50;" (click)="viajeSeleccionado(dato)"></i></td>
    </tr>
  </table>



</div>
