<div class="container">
  <div class="column">
    <label for="combo1">ORIGEN:</label>
    <select id="combo1">
      <option value="opcion1">Opción 1</option>
      <option value="opcion2">Opción 2</option>
      <option value="opcion3">Opción 3</option>
    </select>
  </div>

  <div class="column">
    <label for="combo2">DESTINO:</label>
    <select id="combo2">
      <option value="opcionA">Opción A</option>
      <option value="opcionB">Opción B</option>
      <option value="opcionC">Opción C</option>
    </select>
  </div>

  <div class="column">
    <label for="combo3">FECHA:</label>
    <select id="combo3">
      <ng-container *ngFor="let fecha of this.fechasSelect">
        <option [value]="fecha.fechaValue">{{fecha.fecha}}</option>
      </ng-container>
    </select>
  </div>

  <button class="btn" style="margin: 0 auto;">Enviar</button>
</div>
